.Navbar-bar{
    display: flex;
    flex-direction: row;
    height: 12vh; 
    
}

.NavBar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0 255px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;

   
}
.logo{
    width: 100%;
    font-size: 17px;
    padding:0 0 0 30px;
    color: rgb(74, 74, 74);

}



.NavBar a{
    color: rgb(74, 74, 74);   
    text-decoration: none;
    margin: 0 30px ;
    font-size: 1.1rem;
    padding: 0 0 0 20px;
}

.link{
    margin-top: 41px;
}